.attribution { 
    font-size: 0.7vw; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    font-family: Libre Franklin;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#illustration {
    width: 31vw;
    position: absolute;
    margin-top: 63vw;
}

#logo {
    width: 4.2vw;
    position: absolute;
    margin-top: 10vw;
}

#tagline {
    font-size: 2.4vw;
    color: hsl(0, 0%, 59%);
    position: absolute;
    margin-top: 18vw;
     
    b {
        color: hsl(209, 33%, 12%);
    }
}

#mail {
    color: hsl(223, 100%, 88%);
    font-size: 0.8vw;
    border: 0.1vw solid hsl(223, 100%, 88%);
    border-radius: 2vw;
    padding: 0.8vw;
    padding-left: 1.5vw;
    padding-right: 10vw;
    position: absolute;
    margin-top: 32vw;
    margin-left: -10vw;
}

#mail:focus {
    color: hsl(209, 33%, 12%);
}

#notify {
    background-color: hsl(223, 87%, 63%);
    color: white;
    border: 0;
    border-radius: 2vw;
    font-size: 0.8vw;
    padding: 0.8vw;
    padding-left: 3vw;
    padding-right: 3vw;
    box-shadow: 0vw 0.1vw 1.5vw hsl(223, 100%, 88%);
    position: absolute;
    margin-top: 32vw;
    margin-left: 21vw;
}

#notify:hover {
    filter: brightness(130%);
    cursor: pointer;
}

#nomail, #wrongmail {
    position: absolute;
    font-size: 0.6vw;
    font-style: italic;
    color:hsl(354, 100%, 66%);
    margin-top: 36vw;
    margin-left: -14vw;
    display: none;
}

#wrongmail {
    margin-left:-18vw;
}

#subscribe {
    font-size: 0.95vw;
    color: hsl(209, 33%, 12%);
    position: absolute;
    margin-top: 24vw;
}

#copyright {
    font-size: 0.6vw;
    color: hsl(0, 0%, 59%);
    position: absolute;
    margin-top: 95vw;
}

#icons {
    position: absolute;
    margin-top: 90.2vw;
    margin-left: -0.5vw;
}

ion-icon {
    fill: hsl(223, 87%, 63%);
    border: 0.1vw solid hsl(223, 100%, 88%);
    border-radius: 50%;
    padding: 0.3vw;
    margin-left: 0.5vw;
    width: 0.8vw;
    height: 0.8vw;
}

ion-icon:hover {
    background-color: hsl(223, 87%, 63%);
    fill: white;
    border: 0;
    padding: 0.36vw;
    cursor: pointer;
}

@media only screen and (max-width: 375px) {
    .attribution {
        font-size: 2.5vw;
    }

    #illustration {
        width: 82vw;
        margin-top: 245vw;
    }
    
    #logo {
        width: 14vw;
        margin-top: 40vw;
    }
    
    #tagline {
        font-size: 5.8vw;
        margin-top: 71vw;
         
    }
    
    #mail {
        font-size: 3.5vw;
        border-radius: 7vw;
        padding: 3vw;
        padding-left: 8vw;
        padding-right: 28vw;
        margin-top: 121vw;
        margin-left: 0vw;
    }
    
    
    #notify {
        font-size: 3.2vw;
        padding: 3.4vw;
        padding-left: 30vw;
        padding-right: 30vw;
        border-radius: 7vw;
        box-shadow: 0vw 0.6vw 4vw hsl(223, 100%, 88%);
        margin-top: 148vw;
        margin-left: 0vw;
    }
    
    
    #nomail, #wrongmail {
        font-size: 2.5vw;
        margin-top: 140vw;
        margin-left: 0vw;
    }
    
    #wrongmail {
        margin-left: 0vw;
    }
    
    #subscribe {
        font-size: 3.1vw;
        margin-top: 91vw;
    }
    
    #copyright {
        font-size: 2.5vw;
        margin-top: 400vw;
        padding-bottom: 10vw;
    }
    
    #icons {
        position: absolute;
        margin-top: 365vw;
        margin-left: -2vw;
    }
    
    ion-icon {
        padding: 1.8vw;
        margin-left: 2vw;
        width: 4vw;
        height: 4vw;
    }
    
  }